<div class="modal-dialog modal-lg">
  <div class="modal-content">
        <% if flash[:alert] %>
          <div class="alert alert-danger"><%= flash[:alert] %></div>
        <% end %>
    <div class="questnewPgae">
      <div class='container'>
          <% if @quest.errors.any? %>
            <p class="text-danger">タイトルを入力してください</p>
          <% end %>
          
        <%= form_with model: @quest, url: { action: :create }, html: { class: 'questnewForm' } do |f| %>
          <%= f.hidden_field :list_id, value: @list.id %>
          <div class="questnewForm_quest_title">
            <%= f.label :quest_title %>
            <%= f.text_field :quest_title, autofocus: true, class: "form-control", placeholder: "クエスト名" %>
          </div>

          <div class="questnewForm_quest_detail">
            <%= f.label :quest_detail %>
            <%= f.text_area :quest_detail, autofocus: true, class: "form-control", placeholder: "クエスト詳細" %>
          </div>

          <div class="questnewForm_quest_detail">
            <%= f.label :start_date, "開始日　" %>
            <%= f.date_field :start_date %>
          </div>

          <div class="questnewForm_quest_detail">
            <%= f.label :end_date, "最終日　" %>
            <%= f.date_field :end_date %>
          </div>

          <div class="questnewForm_quest_detail">
            <%= f.label :prize_money, "賞金(円)" %>
            <%= f.text_field :prize_money, class: "form-control", placeholder: "100" %>
          </div>

          <div class="text-center"><%= f.submit "作成", class: "submitBtn" %></div>
        <% end %>
      </div>
    </div>
  </div>
</div>