<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class='questdetailPage'>
      <div class="container">
        <div class="questContents">

          <div class="questContents_quest_title">
            <div>タイトル</div>
            <h2><%= @quest.quest_title %></h2>
          </div>

          <div class="questContents_quest_detail">
            <div>依頼者</div>
            <div><%= @quest_user.name %></div>
          </div>

          <div class="questContents_quest_detail">
            <div>詳細</div>
            <div><%= @quest.quest_detail %></div>
          </div>

          <div class="questContents_listStatus">
            <div>リスト名</div>
            <div><%= @quest.list.title %></div>
          </div>

          <div class="questContents_listStatus">
            <div>期間</div>
            <div><%= "#{@quest.start_date}" + "ー" + "#{@quest.end_date}" %></div>
          </div>

          <div class="questContents_listStatus">
            <div> <%= label :quest_status, "現在の状況"%></div>
            <div><%= @quest.quest_status %></div>
          </div>

          <div class="questContents_listStatus">
            <div> <%= label :prize_money, "賞金"%></div>
            <div><%= @quest.prize_money %></div>
          </div>

          <div class="questContents_listStatus">
            <div> <%= label :contractor_id, "契約者名"%></div>
            <div><%= @quest.contractor_name %></div>
          </div>

          <div class="questContents_listStatus">
            <div> <%= label :is_paid, "支払いステータス"%></div>
            <div><%= @quest.is_paid %></div>
          </div>
          
          <div class="questContents_listStatus">
            <div> <%= label :rate, "クエスト評価"%></div>
           <div id="rate_<%= @quest.id %>"></div>
          </div>

              <script>
              $('#rate_<%= @quest.id %>').raty({
                size: 20,
                starOff:  '<%= asset_path('star-off.png') %>',
                starOn : '<%= asset_path('star-on.png') %>',
                starHalf: '<%= asset_path('star-half.png') %>',
                half: true,
                readOnly: true,
                score: <%= @quest.rate %>,
              });
              </script>
              
        <div class= "btn-set">
         <!--仕事引受のためのボタン-->
          <% if @quest.contractor_id.nil? && @quest.user.id != current_user.id %>
        
           <%= form_with model: @quest, url: { action: :update }, local: true do |f| %>
           <%= f.hidden_field :contractor_id, value: @user.id %>
           <%= f.hidden_field :contractor_name, value: @user.name %>
           <%= f.submit "仕事を引き受ける" ,class: "btn-stitch-green" %>
          <% end %>
          <% end %>
          <!--契約解除のためのボタン-->
          <!--契約者と依頼者だけキャンセルできるように処理-->
          <% if @quest.contractor_id.present? %>
          <% if @quest.contractor_id == current_user.id || @quest.user.id == current_user.id  %>
          <!--契約されているときだけキャンセルできるよう処理-->

             <%= form_with model: @quest, url: { action: :update }, local: true do |f| %>
             <%= f.hidden_field :contractor_id, value: nil %>
             <%= f.hidden_field :contractor_name, value: nil %>
               <div class ="text-center"><%= f.submit "仕事をキャンセル" ,class: "btn-stitch-grey" %></div>
            <% end %>
           <% end %>
          <% end %>
          
            <% if @quest.user.id == current_user.id %>
             <%= link_to '編集', edit_group_list_quest_path(@quest.list.group,@quest.list, @quest), class: "btn-stitch-blue", remote: true %>
             <%= link_to '削除', group_list_quest_path(@quest.list.group), class: "btn-stitch-red", method: :delete, data: { confirm: "このクエストを削除して大丈夫ですか?" } %>
             <%= link_to 'スケジュール', calendars_path, class: "btn-stitch-green"%>
            <% elsif @quest.user.id || @quest.contractor_id == current_user.id %>
             <%= link_to 'スケジュール', calendars_path, class: "btn-stitch-green"%>
            <% end %>

            <!--クエスト完了後＆契約者だけが押せる支払い完了済みのボタン-->
            <% if @quest.quest_status == "完了" && @quest.contractor_id == current_user.id%>
              <%= link_to "支払い済みにする", group_list_quest_payment_path, method: :patch,  class: "btn-stitch-green",
              data: { confirm: "支払い済みにしてクエストを完了させますか?" } %>
             <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
