<!--bootstrap modalを呼び出すためにid指定して非同期化を実装-->
<div id="list-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="quest-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

  <div class="topPage">
    <div class="addList">
     <i class="fas fa-plus-circle"></i>
    <%= link_to "リストを追加", new_group_list_path, class: "addList_link", remote:true %>
    </div>
    
    <div class="listWrapper">
     <% @lists.each do |list| %>
        <div class="list">
          <div class="list_header">
            <h2 class="list_header_title"><%= list.title %></h2>
            <div class="list_header_action">
              <%= link_to(content_tag(:i, '', class: 'fas fa-pen'), edit_group_list_path(list.group, list), remote: true) %>
            </div>
          <div class="addQuest">
            <i class="far fa-plus-square"></i>
            <%= link_to "クエストを追加", new_group_list_quest_path(list.group,list), class: "addquest_link" , remote: true %>
          </div>
          </div>
          
          <div class="questWrapper">
            <!--報酬支払い済みのもの(active)は非表示にする処理-->
            <!--.activeはscopeにてquestモデルに定義-->
          <% list.quests.active.each do |quest| %>
            <div class="quest">
             <%= link_to group_list_quest_path(quest.list.group,quest.list, quest), class:"questDetail_link", remote: true do %>
              <h3 class="quest_title"><%= quest.quest_title %></h3>
              <h5 class="quest_subtitle">依頼者: <%= quest.user.name %></h5>
              <% if quest.start_date.present? %>
               <h5 class="quest_subtitle">期間: <%= "#{quest.start_date}" + "ー" + "#{quest.end_date}" %></h5>
              <% end %>
              <% if "#{quest.prize_money}".to_i > 0 %>
               <h5 class="quest_subtitle">報酬: <%= quest.prize_money %>円</h5>
              <% end %>
            <% end %>
            </div>
          <% end %>
        </div>
      </div>
     <% end %>
    </div>
  </div>