<% my_groups.each do |my_group| %>
  <%= link_to group_lists_path(my_group), class: "text-reset text-decoration-none" do %>
    <div class="card ">
      <div class="card-body">
            <div class="group-name"><%= my_group.group_name %> </div>
            <div class="member-count">メンバー数 : <%= my_group.users.count %></div>
            
        <div class="group-delete">
           <%= link_to group_path(my_group) do %>
           メンバー追加一覧へ　　
           <% end %>

          <% if my_group.admin_user == current_user.id %>
            <%= link_to "チームを削除する", group_path(my_group), method: :delete, data: {confirm: "本当に削除しますか？"} %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>