<div class='userEdit'>
  <div class='container'>
  <%= render 'layouts/error_messages', resource: @user %>
  <h2 class="title">マイプロフィール</h2>
  <%= form_with model: @user, url: user_path(@user), method: :patch, html: { class: "mt-5, edit-profile" }, local:true do |f| %>
        <div class="profile-img">
  	     <label>
  	      <%= attachment_image_tag @user, :image, :fill, 150, 150, format: 'jpeg', fallback: "no-image.png" ,size: "150x150" %>
  	     </label>
  	    </div>
  	    
  	    <div class="form-group">
  	      <%= f.attachment_field :image, placeholder: "プロフィール画像" %>
  	    </div>
  	    
        <div class="form-group">
          <p>名前</p>
          <%= f.text_field :name, :placeholder =>"#{@user.name}", class:"form-control" %>
        </div>

        <div class="form-group">
          <p>紹介文</p>
          <%= f.text_area :introduction, :placeholder =>"#{@user.introduction}", class:"form-control"  %></br>
          <div>所属グループ数 : <%= @user.group_users.count %></div>
        </div>

        <div class="form-group profile-btn">
          <%= hidden_field_tag :user_id, params[:user_id] %>
          <%= f.submit "保存",  class:"btn btn-success" %>
        </div>
        
    <% end %>
  </div>
</div>
