<h1>マイレコード</h1>
 <% @quests.each do |quest| %>
  <div><%= quest.quest_title %></div>
 <% end %>
 <div>こなしたクエスト数<%= @sum_quests %>件</div>
 <div>生涯獲得賞金<%= @sum_prize_money %>円</div>
 <!--Zero division errorを防ぐため例外処理を追加-->
 <div>平均賞金金額<%= @sum_prize_money.div(@sum_quests) rescue 0 %>円</div>

 <div class="questContents_listStatus">
   <div> 平均クエスト評価</div>
  <div id="rate_<%= @user.id %>"></div>
 </div>

   <script>
   $('#rate_<%= @user.id %>').raty({
     size: 20,
     starOff:  '<%= asset_path('star-off.png') %>',
     starOn : '<%= asset_path('star-on.png') %>',
     starHalf: '<%= asset_path('star-half.png') %>',
     half: true,
     readOnly: true,
     score: <%= @sum_rate.div(@sum_quests) rescue 0 %> ,
   });
   </script>



