<div class ="container mt-5">
 <div class ="recordWapper">
  <h2 class ="mb-4">マイレコード</h2>
  <table class ="table table-bordered">
   <thead>
     <tr>
       <th class="table-active">依頼したクエスト数</th>
       <th class="table-active">契約したクエスト数</th>
       <th class="table-active">獲得賞金</th>
       <th class="table-active">総支払金額</th>
       <th class="table-active">収支</th>
       <th class="table-active">平均クエスト評価</th>
     </tr>
   </thead>
   <tbody>
       <tr>
         <td><%= @sum_client_quests %>件</td>
         <td><%= @sum_contractor_quests %>件</td>
         <td><%= "#{@sum_prize_money.to_s(:delimited, delimiter: ',')}円" %></td>
         <td><%= "#{@sum_paid_money.to_s(:delimited, delimiter: ',')}円" %></td>
         <td><%= "#{(@sum_prize_money - @sum_paid_money).to_s(:delimited, delimiter: ',')}円" %></td>
         <td><div id="rate_<%= @user.id %>"></div></td>
       </tr>
       
      <script>
       $('#rate_<%= @user.id %>').raty({
         size: 20,
         starOff:  '<%= asset_path('star-off.png') %>',
         starOn : '<%= asset_path('star-on.png') %>',
         starHalf: '<%= asset_path('star-half.png') %>',
         half: true,
         readOnly: true,
         score: <%= @sum_rate.div(@sum_quests) rescue 0 %> ,
       });
      </script>
    
   </tbody>
  </table>
  </div>
</div>

   <div class ="record-btn-set">
    <%= link_to '依頼クエスト一覧', records_client_path, class: "btn-stitch-green", local: true %>
    <%= link_to '契約クエスト一覧', records_contractor_path, class: "btn-stitch-blue", local: true %>
   </div>



